<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关系图</title>
		<link src="../../css/layer.css" type="text/javascript" charset="utf-8"></link>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" id="deepColour" type="text/css" href="../../css/deepColor.css"/>
		<style type="text/css">
			#box{
				width:auto;
			}
			.top_title{
				width:auto;
				margin-bottom:0;
				background:#293947;
				border-top: 4px solid #2d4356;
			}
			.content{
				min-height: 810px;
				position:relative;
				overflow: hidden;
				border: 1px solid #2f4050;
			}
			#cy{
				width: 100%;
            	height:100%;
            	position: absolute;
	            left: 0;
	            top:0;
				/* background:#3A4D5F; */
				background-image: linear-gradient(to bottom, #293846 0%, #456479 100%);
				
			}
		</style>
	</head>
	<body>
		<div id="box">
			<div class="top_title">
				业务流分析
			</div>
			<div class="content">
				<div id="cy"></div>
			</div>
		</div>
	
		<script src="../../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cytoscape.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/commonPlugin.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		
		
			//成功回调函数
			var sfunc = function(dataArr){
				var nodesArr = [];//节点数组
    			var edgesArr = [];//线数组
    			var nodesCountArr = [];//节点count数组
    			var linksCountArr = [];//节点count数组
    			//{data:{id:'王大拿',target:true,type:'People'}},
    			//{"node": 1,"name": "123.232.103.226","count": "188394"}
    			//node节点
    			for(var i in dataArr[0].data){
    				var obj = {};
    				obj.data = {};
    				obj.data.id = dataArr[0].data[i].name;
    				obj.data.target = true;
    				obj.data.count = dataArr[0].data[i].count;
    				obj.data.type = dataArr[0].data[i].node;
    				nodesCountArr.push(dataArr[0].data[i].count)
    				nodesArr.push(obj);
    			}
    			var maxNodesCount = Math.max.apply(null,nodesCountArr);
    			// {data:{source:'王大拿',target:'AAA公司',label:'董事'}},
    			//{"node": 1,"count": 80761,"source": "123.232.103.226","target": "level2\n192.168.2.151"}
    			//连接线
    			for(var i in dataArr[0].links){
    				var obj = {};
    				obj.data = {};
    				obj.data.source = dataArr[0].links[i].source;
    				obj.data.target = dataArr[0].links[i].target;
    				obj.data.count = dataArr[0].links[i].count;
    				obj.data.label = dataArr[0].links[i].count;
    				linksCountArr.push(dataArr[0].links[i].count);
    				edgesArr.push(obj);
    			}
    			var maxLinksCount = Math.max.apply(null,linksCountArr);
    			//console.log(nodesArr)
    			//渲染
    			var cy = cytoscape({
		            container: document.getElementById('cy'),
//		            boxSelectionEnabled: true,
		            autounselectify: true,//默认情况下节点是否应该是未分类的
		            maxZoom:4,//最大缩放
		            minZoom:0.7,//最小缩放 
		            wheelSensitivity:.1,//滑动滚轮一次缩放大小
		            style: cytoscape.stylesheet()
		            	.selector('node')
		            		.css({
		            			"content": function (ele) { //文本内容
		                            return ele.data('label') || ele.data('id')+'\n 活跃度:'+ele.data('count')
		                        },
		                        "text-valign": 'center', //文本对齐  center-居中
		                        "width": function (a) { //宽度
		                            //return "Company" == a.data('type') ? 60 : 145
		                            var widthVal = 140;		                            
		                            return Math.pow(a.data('count')/maxNodesCount,1/3) * widthVal;
		                        },
		                        "height": function (a) { //高度
		                        	 var heightVal = 140;	
		                            //return "Company" == a.data('type') ? 60 : 145
		                            return  Math.pow(a.data('count')/maxNodesCount,1/3) * heightVal;;
		                        },
		                        "background-color": function (a) { //背景颜色
		                            //return '#47D2AC'; 
		                        	return a.data('count') == maxNodesCount ? '#D76662' : '#59C9A5';
		                        },
		                        "color": '#fff', //文本颜色
		                        "border-color": function (a) { //边框颜色
		                            /*return !a.data('target') ? '#47D2AC' : "Company" == a.data('type') ?
		                                '#2196F4' : '#EAA829'*/
		                            return '#3A4D5F'; 
		                        },
		                        "border-width":2, //边框宽度		                        
		                        "text-wrap": "wrap", //文本换行
		                        "font-size": 10, //字体大小
		                        "font-weight":600,
		                        "font-family": "microsoft yahei",//字体
		                        "overlay-color": "#fff",
		                        "overlay-opacity": 0,
		                        'text-outline-width': 1,
		                        'text-outline-color': '#316383',//颜色设置
		                        "background-opacity": 1, //透明度
		                        "shape": "ellipse",//节点形状    ellipse-圆形  rectangle-矩形
		                        "z-index-compare": "manual",
		                        "z-index": 20,
		                        "padding": function (a) { 
//		                            return "Company" == a.data("type") ? 3 : 0
									return 20; 
		                        }
		            		})
		            	.selector('edge')
		            		.css({
		            			"width": function(a){
		            				var widthVal = 15;
		            				return Math.pow(a.data('count')/maxLinksCount,1/3) * widthVal;
		            			},
		                        // 添加箭头
		                        "line-style": function (a) {
		                            return "solid"
		                        },
		                        "curve-style": "bezier",
		                        "control-point-step-size": 20,
		                        "target-arrow-shape": "triangle",
		                        "target-arrow-color": function (a) {
		                            // return a.data("color")
		                            return '#65F9FD'
		                        },
		                        "arrow-scale": .8,
		                        "line-color": function (a) {//线颜色
		                            // return a.data("color")
		                            // return '#A8D0DB'
		                            return '#65F9FD'
		                        },
		                        "label": function (a) {
		                            return a.data("label")
		                        },
		                        "text-opacity": 1,
		                        "text-background-color": "#e4956d",
		                    
		                        "text-background-opacity": 0,
		                        "text-background-padding": 2,
		                        "font-size":0,
		                        "color":"#fff",		                        
		                        "font-weight":600,
		                        "overlay-color": "#fff",
		                        "overlay-opacity": 0,
		                        "font-family": "microsoft yahei"
		            		})
		            	.selector(':selected')
		            		.css({
		            			"border-width": 3,
		                        "border-color": '#333',
		                        "background-color": 'black',
		                        "line-color": 'black',
		                        "target-arrow-color": 'black',
		                        "source-arrow-color": 'black'
		            		})
		            	.selector('.nodeHover')
		            		.css({
		            			"shape": "ellipse",
		                        "background-opacity": .8
		            		})
		            	.selector('.nodeActive')
		            		.css({
		            			"border-color": '#4EA2F0',
		                        "border-width": 10,
		                        "border-opacity": .5
		            		})
		            	.selector('.edgeShow')
		            		.css({
		            			/*"color": "#999",
		                        "text-opacity": 1,
		                        "font-weight": 400,
		                        "label": function (a) {
		                            return a.data("label")
		                        },
		                        "font-size": 10,
		                        "arrow-scale": .8,
		                        "width": 1.5,
		                        "source-text-margin-y": 20,
		                        "target-text-margin-y": 20,*/
		            		})
		            	.selector('.edgeActive')
		            		.css({
		            			"arrow-scale": .8,
		                        //"width": 1.5,
		                        "color": "#fff",
		                        "text-opacity": 1,
		                        "font-size": 12,
		                        "text-background-color": "#e4956d",
		                        "text-background-opacity": .8,
		                        "text-background-padding": 2,		                       
		                        "source-text-margin-y": 20,
		                        "target-text-margin-y": 20,
		                        "z-index-compare": "manual",
		                        "z-index": 1,
		                        "line-color": function (a) { //直线颜色
		                            return "#4EA2F0"
		                        },
		                        "target-arrow-color": function (a) { //箭头颜色
		                            return "#4EA2F0"
		                        },
		                        label: function (a) {
		                            return a.data("label")
		                        }
		            		})
		            	.selector('.dull')
		            		.css({
		            			"z-index": 1,
		                        "opacity": .2
		            		}),
		            
		            elements: {
		                nodes:nodesArr,
		                edges:edgesArr
		            },
		            layout: {
		                name: 'cose',//用哪种方式排列，可选：breadthfirst(广度优先)、cose(缝制，乱交)、preset(预设)、circle(圆形)、grid(矩形)
		                animate:true,//出来动画
		                idealEdgeLength: 60,
		                nodeOverlap: 20,
		                refresh: 20,
		                fit: true,
		                padding: 30,
		                randomize: false,
		                componentSpacing: 20,
		                nodeRepulsion: 400,
		                edgeElasticity: 10,
		                nestingFactor: 5,
		                animate:true,//出来动画
		                gravity: 80,
		                numIter: 1000,
		                initialTemp: 200,
		                coolingFactor: 0.95,
		                minTemp: 1.0
		            }
		        })
		        cy.collection("edge").addClass("edgeShow");
		        cy.on("mouseover", "node", function (a) {
		           /*  $('#cy').css('cursor', 'move');
		            let c = a.target;
		            c.addClass("nodeHover");
		            // cy.collection("edge").removeClass("edgeShow");
		            cy.collection("edge").removeClass("edgeActive");
		            c.neighborhood("edge").addClass("edgeActive"); */
		            let c = a.target;
		            cy.collection("edge").addClass('dull');
		            cy.collection("node").addClass('dull');
		            c.removeClass("dull");
		            c.neighborhood("edge").removeClass("dull");
		            c.neighborhood("edge").addClass("edgeActive");
		            c.neighborhood("edge").connectedNodes().removeClass("dull"); //当前节点的邻域边的边缘节点！
		            // c.neighborhood("node").removeClass("dull");//与上面意义相同
		        })
		        cy.on("mouseout", "node", function (a) {
		           /*  $('#cy').css('cursor', 'default');
		            let c = a.target;
		            c.removeClass("nodeHover");
		            cy.collection("edge").removeClass("edgeActive"); */
		        	let c = a.target;
		            cy.collection("edge").removeClass('dull');
		            cy.collection("node").removeClass('dull');
		            c.neighborhood("edge").removeClass("edgeActive");
		            c.neighborhood("node").removeClass("nodeActive");
		        })
		        cy.on("click", "edge", function (a) {
		        	console.log(a)
		        })
		        
		        cy.on("click", "node", function (a) {
		            /* let c = a.target;
		            c.removeClass("nodeActive");
		            cy.collection("edge").removeClass("edgeActive"); */
		            //获取ip地址  参数集合
		            var obj={};
		            obj.type = "ip";
		            obj.kname = "multifield_ip";
		            obj.clickType = "node";
		            obj.val = a.target._private.data.id;
		            var objStr = JSON.stringify(obj);
		            objStr = objStr.replace(/"/g,"'");
		            //跳转到流量日志页面
		            jumpHtml("logPro/flowLogs.html",obj.val,"日志",objStr)
		        })
		        cy.on("vmousedown", "node", function (a) { //监听鼠标左键按下
		           /*  let c = a.target;
		            cy.collection("edge").addClass('dull');
		            cy.collection("node").addClass('dull');
		            c.removeClass("dull");
		            c.neighborhood("edge").removeClass("dull");
		            c.neighborhood("edge").addClass("edgeActive");
		            c.neighborhood("edge").connectedNodes().removeClass("dull"); //当前节点的邻域边的边缘节点！
		            // c.neighborhood("node").removeClass("dull");//与上面意义相同 */
		        })
		        cy.on("tapend", "node", function (a) { //监听鼠标左键释放
		           /*  let c = a.target;
		            cy.collection("edge").removeClass('dull');
		            cy.collection("node").removeClass('dull');
		            c.neighborhood("edge").removeClass("edgeActive");
		            c.neighborhood("node").removeClass("nodeActive"); */
		        })
		
		        //线
		        cy.on("mouseover", "edge", function (a) {
		            let c = a.target;
		            cy.collection("edge").removeClass("edgeActive");
		            c.addClass("edgeActive")
		        })
		        cy.on("mouseout", "edge", function (a) {
		            let c = a.target;
		            c.removeClass("edgeActive")
		        })
			}
			//失败回调函数
			var efunc = function(data){
				layer.msg('操作失败',{icon: 5});
			}
			//发送请求
			ajaxPost("../../log/getNetworkTopological.do",'',sfunc,"",efunc);
		</script>
	</body>
</html>